<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastrar filme</title>
  </head>
  <body>
    <form method="post" action="/cadastroFilme">
      <input type="text" name="nome" placeholder="Nome do Filme" required />
      <input type="text" name="genero" placeholder="Gênero" required />
      <input type="number" name="ano" placeholder="Ano" required />
      <button type="submit">Adicionar</button>
    </form>
    <a href="/home">Voltar</a>
  </body>
</html>
